<h1>Enter in a number!</h1>
<form action='/ping_pong' method='get'>
  <div class="form-group">
    <label for="number">Your Number</label>
    <input id="number" name="number" class="form-control" type="number">
  </div>
  <button type="submit" class="btn">Show me the ping pong!</button>
</form>
